<div class="d-flex flex-column m-3">
  <div class="d-flex flex-row">
    <div class="w-50">
      <div class="d-flex flex-row justify-content-between">
        <h3>Wallet Summary Info</h3>
        <a routerLink="/wallet-outputs">
          Show Outputs
        </a>
      </div>

      <app-wallet-info-detail></app-wallet-info-detail>
      <button class="btn btn-primary" (click)="refreshFromNode()">Update and Validate against Node
      </button>
    </div>
    <div class="w-50 ml-4">
      <div class="d-flex flex-row justify-content-between">
        <h3>Most Recent Transactions</h3>
        <a routerLink="/txs-all">
          Show All Transactions
        </a>
      </div>
      <app-tx-listing [num_entries]="10"></app-tx-listing>
    </div>
  </div>
</div>
