<!--div>
   <label>value:
     <input [(ngModel)="output.value" placeholder = "value"/>
   </label>
</div-->

<div class="container-fluid">
  <h3>Wallet Outputs</h3>
  <p>Validated as of Block: {{walletService.walletInfo?.last_confirmed_height}} ({{walletService.currentNodeHeight-walletService.walletInfo?.last_confirmed_height}} Blocks Ago)</p>
  <a routerLink="/wallet-info">
    Show Summary
  </a>
  <table class="table table-sm table-hover table-striped table-responsive">
    <thead>
       <th>Amount</th>
       <th>Status</th>
       <th>Block Height</th>
      <th>Root Key ID</th>
      <th>Key Id</th>
      <th>Child Key Index</th>
      <th>Lock Height</th>
      <th>Coinbase?</th>
      <th>Block</th>
      <th>Transaction Id</th>

    </thead>
    <tbody>
  <tr *ngFor="let output of walletService.outputs">
    <td> {{amountAsHr(output.value, 9)}}</td>
    <td class="">{{output.status}}</td>
    <td class="">{{output.height}}</td>
      <td class="">{{output.root_key_id}}</td>
      <td class="">{{output.key_id}}</td>
    <td class="">{{output.n_child}}</td>
    <td class="">{{output.lock_height}}</td>
    <td class="">{{output.is_coinbase}}</td>
    <td class="">{{output.block}}</td>
    <td class="">{{output.tx_log_entry}}</td>
    </tr>
    </tbody>
  </table>
</div>
